@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

  /*----------- css for hover -----------------------  */
  
  * {
    backface-visibility: hidden;
  }

  @media only screen and (min-width: 320px) and (max-width:600px) {
    .hovercontainer1 {
      display: grid;
  grid-template-columns: 1fr;
      grid-gap: 3rem;
      padding: 4rem 4rem;
      
    }
    
    .hovercontainer1 .wrapper {
      
      transition: 0.25s;
    }
    
  .card1:hover {
    opacity: 0.3;
  }
  .card2:hover{
    opacity: 0.3;
  }
  .card3:hover{
    opacity: 0.3;
  }
  .card4:hover{
    opacity: 0.3;
  }
  .card5:hover{
    opacity: 0.3;
  }
  .card6:hover{
    opacity: 0.3;
  }
  .card7:hover{
    opacity: 0.3;
  }
  .card8:hover{
    opacity: 0.3;
  }
  .card9:hover{
    opacity: 0.3;
  }
  .card10:hover{
    opacity: 0.3;
  }
  .card11:hover{
    opacity: 0.3;
  }
  .card12:hover{
    opacity: 0.3;
  }
    .hovercontainer1 .wrapper:before {
      content: '';
      left: 0;
      top: 0;
      height: calc(100% - 10px);
      width: calc(100% - 10px);
      /* border-radius: 40px; */
      opacity: 0;
      border: 2px solid #ece9e6;
      position: absolute;
      z-index: -1;
      transition: 0.5s 0.05s;
    }
    
    .hovercontainer1 .wrapper:hover:before {
      opacity: 1;
      /* transform: translateY(1.5rem) translateX(1.5rem); */
    }
    
    .hovercontainer1 .card1.card:after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      /* color: ; */
      /* background-blend-mode: screen; */
    
      /* transform: skew(10deg) scale(1.2); */
      transition: 0.25s;
    }
  
    .hovercontainer1 .card2.card:after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
   
      background-size: cover;
      /* background-color: #373f51; */
      background-blend-mode: screen;
      /* transform: skew(10deg) scale(1.2); */
      transition: 0.25s;
    }
  
    .hovercontainer1 .card3.card:after {
      content: '';
      height: 150%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
  
      background-size: cover;
      /* background-color: #373f51; */
      background-blend-mode: screen;
      /* transform: skew(10deg) scale(1.2); */
      transition: 0.25s;
    }
    
    .hovercontainer1 .card4.card:after{
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
     
      background-size: cover;
      /* background-color: #373f51; */
      background-blend-mode: screen;
      /* transform: skew(10deg) scale(1.2); */
      transition: 0.25s;
    }
    
    .hovercontainer1 .card5.card:after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
  
      background-size: cover;
      /* background-color: #373f51; */
      background-blend-mode: screen;
      /* transform: skew(10deg) scale(1.2); */
      transition: 0.25s;
    }
    .hovercontainer1 .card6.card:after {
      content: '';
      height: 91%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
  
      background-size: cover;
      /* background-color: #373f51; */
      background-blend-mode: screen;
      transform: skew(10deg) scale(1.2);
      transition: 0.25s;
    }
  
    
  
    .hovercontainer1 .wrapper:hover .card {
      box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.1);
    }
    
  
    .hovercontainer1 .wrapper:hover .card .fal {
      bottom: 4rem;
      background-color: transparent;
      
    }
    
    .hovercontainer1 .card {
      padding: 2rem;
      position: relative;
      overflow: hidden;
    }
    
    .hovercontainer1 .card:after {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    
    .hovercontainer1 .card .fal {
      position: absolute;
      bottom: -1rem;
      right: 3rem;
  
      padding: 1rem;
      color: #000000;
      /* font-size: 1.5rem; */
  
      z-index: 1;
      /* transform: skew(10deg) translateY(50%); */
      text-align: center;
      transition: 0.25s;
    }
  
  .card1{
  height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
  background-image: url("./imgs/gidon-wessner-SZtLK_W7vKo-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  }
  
  .card1:hover{
  height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: black;
  opacity: 1
  
  /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
  }
  .card2{
   height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #000000;
  /* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
  background-image: url("./imgs/jimmy-chang-eXg_ah-ebc4-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  }
  .card2:hover{
  height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  /* background-color: #000000;
   */
     background-color: black;
  /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
  opacity: 1;
  }
  .card3{
    height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #000000;
  /* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
  background-image: url("./imgs/magdalena-smolnicka-aSo4L-FRahI-unsplash.jpg");
  background-size: cover;
  /* width: 100%;
  height: 100%; */
  opacity: 0.8;
  }
  .card3:hover{
  height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  /* background-color: #000000;
   */
     background-color: black;
  /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
  opacity: 1;
  }
  .card4{
    height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #000000;
  /* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
  background-image: url("./imgs/patrick-donnelly-FArmYuwp_tM-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  }
  .card4:hover{
  height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  /* background-color: #000000;
   */
     background-color: black;
  /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
  opacity: 1;
  }
  .card5{
    height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #000000;
  /* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
  background-image: url("./imgs/tyler-raye-J9NaXTGzBrs-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  }
  .card5:hover{
  height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  /* background-color: #000000;
   */
     background-color: black;
  /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
  opacity: 1;
  }
  .card6{
    height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #000000;
  /* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
  background-image: url("./imgs/michael-henry-5OyGRn_r9Y4-unsplash.jpg");
  background-size: cover;
  /* width: 100%;
  height: 100%; */
  opacity: 0.8;
  }
  .card6:hover{
  height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  /* background-color: #000000;
   */
     background-color: black;
  /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
  opacity: 1;
  
  }
  
  
  /* ------------------------- */
  
  .hovercontainer2 {
    display: grid;
  grid-template-columns: 1fr;
    grid-gap: 3rem;
    padding: 4rem 4rem;
    
  }
  
  .hovercontainer2 .wrapper {
    
    transition: 0.25s;
  }
  
  .hovercontainer2 .wrapper:before {
    content: '';
    left: 0;
    top: 0;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    /* border-radius: 40px; */
    opacity: 0;
    border: 2px solid #ece9e6;
    position: absolute;
    z-index: -1;
    transition: 0.5s 0.05s;
  }
  
  .hovercontainer2 .wrapper:hover:before {
    opacity: 1;
    /* transform: translateY(1.5rem) translateX(1.5rem); */
  }
  
  
  .hovercontainer2 .card7.card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url("./imgs/collegehotonsitho.png"); */
    background-size: cover;
    /* background-color: #373f51; */
    background-blend-mode: screen;
    /* transform: skew(10deg) scale(1.2); */
    transition: 0.25s;
  }
  .hovercontainer2 .card8.card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url("./imgs/capellaperf.png"); */
    background-size: cover;
    /* background-color: #373f51; */
    background-blend-mode: screen;
    transform: skew(10deg) scale(1.2);
    transition: 0.25s;
  }
  .hovercontainer2 .card9.card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url("./imgs/farewell2018.png"); */
    background-size: cover;
    /* background-color: #373f51; */
    background-blend-mode: screen;
    /* transform: skew(10deg) scale(1.2); */
    transition: 0.25s;
  }
  .hovercontainer2 .card10.card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url("./imgs/mirageatnsit.png"); */
    background-size: cover;
    /* background-color: #373f51; */
    background-blend-mode: screen;
    transform: skew(10deg) scale(1.2);
    transition: 0.25s;
  }
  .hovercontainer2 .card11.card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url("./imgs/edwardmaya.png"); */
    background-size: cover;
    /* background-color: #373f51; */
    background-blend-mode: screen;
    /* transform: skew(10deg) scale(1.2); */
    transition: 0.25s;
  }
  
  .hovercontainer2 .card12.card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url("./imgs/edwardmaya.png"); */
    background-size: cover;
    /* background-color: #373f51; */
    background-blend-mode: screen;
    /* transform: skew(10deg) scale(1.2); */
    transition: 0.25s;
  }
  
  .hovercontainer2 .wrapper:hover {
    /* transform: translateX(-1rem) translateY(-1rem) skew(-10deg); */
  }
  
  .hovercontainer2 .wrapper:hover .card {
    box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.1);
  }
  
  .hovercontainer2 .wrapper:hover .card:after {
    background-blend-mode: normal;
  }
  
  .hovercontainer2 .wrapper:hover .card .fal {
    bottom: 4rem;
    background-color:transparent;
  }
  
  .hovercontainer2 .card {
    /* background-color: #fff; */
    /* border-radius: 40px; */
    /* height: 30rem; */
    padding: 2rem;
    position: relative;
    overflow: hidden;
  }
  
  .hovercontainer2 .card:after {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .hovercontainer2 .card .fal {
    position: absolute;
    bottom: -1rem;
    right: 3rem;
    /* border-radius: 100%; */
    padding: 1rem;
    font-size: 1.5rem;
    /* color: #373f51; */
    
    z-index: 1;
    /* transform: skew(10deg) translateY(50%); */
    text-align: center;
    transition: 0.25s;
  }
  
  .card7{
    height: 23rem;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    background-color: #000000;
    /* background-image: linear-gradient(315deg, #00000042 0%, #7f8c8d 74%); */
    background-image: url("./imgs/dylan-hargraves-iDvZGD28b-0-unsplash.jpg");
    background-size:cover;
    background-repeat: no-repeat no-repeat;
    opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.927);
    }
    .card7:hover{
    height: 23rem;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    background-color: black;
    opacity: 1;
    
   
    }
    .card8{
     height: 23rem;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    background-color: #000000;
    /* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
    background-image: url("./imgs/erika-fletcher-5mRn_Bs-RKM-unsplash.jpg");
    background-size:cover;
    background-repeat: no-repeat no-repeat;
  
    opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.927);
    }
    .card8:hover{
    height: 23rem;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    background-color: #000000;
    /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
      background-color: black;
      opacity: 1;
  
    }
  
    .card9{
      height: 23rem;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    background-color: #000000;
    /* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
    background-image: url("./imgs/kevin-mueller-Sw72_7RSeu0-unsplash.jpg");
    background-size:cover;
    background-repeat: no-repeat no-repeat;
  
    opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.927);
    }
    .card9:hover{
    height: 23rem;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    background-color: #000000;
    /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
      background-color: black;
      opacity: 1;
      
    }
    .card10{
      height: 23rem;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    background-color: #000000;
    /* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
    background-image: url("./imgs/antonio-janeski-Amgv3zz3uoE-unsplash (1).jpg");
    background-size:cover;
    background-repeat: no-repeat no-repeat;
  
    opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.927);
    }
    .card10:hover{
    height: 23rem;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    background-color: #000000;
   
    /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
      background-color: black;
      opacity: 1;
    }
    .card11{
      height: 23rem;
      border-top: 25px solid white;
      border-bottom: 25px solid white;
      border-left: 15px solid white;
      border-right: 15px solid white;
      background-color: #000000;
      background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
      background-image: url("./imgs/rinke-dohmen-n8qC4JYGjjI-unsplash.jpg");
      background-size: cover;
      width: 100%;
      height: 100%;
      opacity: 0.8;
    }
    .card11:hover{
      height: 23rem;
      border-top: 25px solid white;
      border-bottom: 25px solid white;
      border-left: 15px solid white;
      border-right: 15px solid white;
      background-color: black;
      opacity: 1;
    }

    .card12{
      height: 23rem;
      border-top: 25px solid white;
      border-bottom: 25px solid white;
      border-left: 15px solid white;
      border-right: 15px solid white;
      background-color: #000000;
      background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
      background-image: url("./imgs/ethnicDay.jpeg");
      background-size: cover;
      width: 100%;
      height: 100%;
      opacity: 0.8;
    }
    .card12:hover{
      height: 23rem;
      border-top: 25px solid white;
      border-bottom: 25px solid white;
      border-left: 15px solid white;
      border-right: 15px solid white;
      background-color: black;
      opacity: 1;
    }
  
  .jnlogo{
    /* background-image: url("/public/style/images/junoon-logo-only.png"); */
    background-size: cover;
    position: absolute;
    width: 10px;
    height: 10px;
  }
  
    
  
  .jnlogo{
    background-image: url("./imgs/junoon-logo-only.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    right: 5px;
    bottom: 40px;
  }
  .headText{
    font-family: 'Staatliches', cursive;
    position: absolute;
    top: 50px;
    left: 50px;
    line-height: 40px;
    color: white;
    font-size: 30px;
    mix-blend-mode:exclusion;
background-blend-mode: multiply;
  
  }
  .card:hover .headText{
    color: white;
    mix-blend-mode:exclusion;
    opacity: 1;
    font-size: 39px;
  }
  .headUnderline{
    background-color: white;
  width: 10px;
  height: 20px;
  }
  
  .yttitle{
    font-size: 33px;
  }
  
  
  
    }
  

  @media only screen and (min-width: 600px) and (max-width:1000px) {
 
    .hovercontainer1 {
      display: grid;
  grid-template-columns: 1fr 1fr ;
      grid-gap: 3rem;
      padding: 4rem 4rem;
      
    }
    
    .hovercontainer1 .wrapper {
      
      transition: 0.25s;
    }
    
  .card1:hover {
    opacity: 0.3;
  }
  .card2:hover{
    opacity: 0.3;
  }
  .card3:hover{
    opacity: 0.3;
  }
  .card4:hover{
    opacity: 0.3;
  }
  .card5:hover{
    opacity: 0.3;
  }
  .card6:hover{
    opacity: 0.3;
  }
  .card7:hover{
    opacity: 0.3;
  }
  .card8:hover{
    opacity: 0.3;
  }
  .card9:hover{
    opacity: 0.3;
  }
  .card10:hover{
    opacity: 0.3;
  }
  .card11:hover{
    opacity: 0.3;
  }

  .card12:hover{
    opacity: 0.3;
  }
    .hovercontainer1 .wrapper:before {
      content: '';
      left: 0;
      top: 0;
      height: calc(100% - 10px);
      width: calc(100% - 10px);
      /* border-radius: 40px; */
      opacity: 0;
      border: 2px solid #ece9e6;
      position: absolute;
      z-index: -1;
      transition: 0.5s 0.05s;
    }
    
    .hovercontainer1 .wrapper:hover:before {
      opacity: 1;
      /* transform: translateY(1.5rem) translateX(1.5rem); */
    }
    
    .hovercontainer1 .card1.card:after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      /* color: ; */
      /* background-blend-mode: screen; */
    
      /* transform: skew(10deg) scale(1.2); */
      transition: 0.25s;
    }
  
    .hovercontainer1 .card2.card:after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
   
      background-size: cover;
      /* background-color: #373f51; */
      background-blend-mode: screen;
      /* transform: skew(10deg) scale(1.2); */
      transition: 0.25s;
    }
  
    .hovercontainer1 .card3.card:after {
      content: '';
      height: 150%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
  
      background-size: cover;
      /* background-color: #373f51; */
      background-blend-mode: screen;
      /* transform: skew(10deg) scale(1.2); */
      transition: 0.25s;
    }
    
    .hovercontainer1 .card4.card:after{
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
     
      background-size: cover;
      /* background-color: #373f51; */
      background-blend-mode: screen;
      /* transform: skew(10deg) scale(1.2); */
      transition: 0.25s;
    }
    
    .hovercontainer1 .card5.card:after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
  
      background-size: cover;
      /* background-color: #373f51; */
      background-blend-mode: screen;
      /* transform: skew(10deg) scale(1.2); */
      transition: 0.25s;
    }
    .hovercontainer1 .card6.card:after {
      content: '';
      height: 91%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
  
      background-size: cover;
      /* background-color: #373f51; */
      background-blend-mode: screen;
      transform: skew(10deg) scale(1.2);
      transition: 0.25s;
    }
  
    
  
    .hovercontainer1 .wrapper:hover .card {
      box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.1);
    }
    
  
    .hovercontainer1 .wrapper:hover .card .fal {
      bottom: 4rem;
      background-color: transparent;
      
    }
    
    .hovercontainer1 .card {
      padding: 2rem;
      position: relative;
      overflow: hidden;
    }
    
    .hovercontainer1 .card:after {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    
    .hovercontainer1 .card .fal {
      position: absolute;
      bottom: -1rem;
      right: 3rem;
  
      padding: 1rem;
      color: #000000;
      /* font-size: 1.5rem; */
  
      z-index: 1;
      /* transform: skew(10deg) translateY(50%); */
      text-align: center;
      transition: 0.25s;
    }
  
  .card1{
  height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
  background-image: url("./imgs/gidon-wessner-SZtLK_W7vKo-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  }
  
  .card1:hover{
  height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: black;
  opacity: 1;
  
  /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
  }
  .card2{
   height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #000000;
  /* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
  background-image: url("./imgs/jimmy-chang-eXg_ah-ebc4-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  }
  .card2:hover{
  height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  /* background-color: #000000;
   */
     background-color: black;
  /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
  opacity: 1;
  }
  .card3{
    height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #000000;
  /* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
  background-image: url("./imgs/magdalena-smolnicka-aSo4L-FRahI-unsplash.jpg");
  background-size: cover;
  /* width: 100%;
  height: 100%; */
  opacity: 0.8;
  }
  .card3:hover{
  height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  /* background-color: #000000;
   */
     background-color: black;
  /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
  opacity: 1;
  }
  .card4{
    height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #000000;
  /* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
  background-image: url("./imgs/patrick-donnelly-FArmYuwp_tM-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  }
  .card4:hover{
  height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  /* background-color: #000000;
   */
     background-color: black;
  /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
  opacity: 1;
  }
  .card5{
    height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #000000;
  /* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
  background-image: url("./imgs/tyler-raye-J9NaXTGzBrs-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  }
  .card5:hover{
  height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  /* background-color: #000000;
   */
     background-color: black;
     opacity: 1;
  /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
  }
  .card6{
    height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #000000;
  /* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
  background-image: url("./imgs/michael-henry-5OyGRn_r9Y4-unsplash.jpg");
  background-size: cover;
  /* width: 100%;
  height: 100%; */
  opacity: 0.8;
  }
  .card6:hover{
  height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  /* background-color: #000000;
   */
     background-color: black;
     opacity: 1;
  /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
  
  }
  
  
  /* ------------------------- */
  
  .hovercontainer2 {
    display: grid;
  grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    padding: 4rem 4rem;
    
  }
  
  .hovercontainer2 .wrapper {
    
    transition: 0.25s;
  }
  
  .hovercontainer2 .wrapper:before {
    content: '';
    left: 0;
    top: 0;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    /* border-radius: 40px; */
    opacity: 0;
    border: 2px solid #ece9e6;
    position: absolute;
    z-index: -1;
    transition: 0.5s 0.05s;
  }
  
  .hovercontainer2 .wrapper:hover:before {
    opacity: 1;
    /* transform: translateY(1.5rem) translateX(1.5rem); */
  }
  
  
  .hovercontainer2 .card7.card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url("./imgs/collegehotonsitho.png"); */
    background-size: cover;
    /* background-color: #373f51; */
    background-blend-mode: screen;
    /* transform: skew(10deg) scale(1.2); */
    transition: 0.25s;
  }
  .hovercontainer2 .card8.card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url("./imgs/capellaperf.png"); */
    background-size: cover;
    /* background-color: #373f51; */
    background-blend-mode: screen;
    transform: skew(10deg) scale(1.2);
    transition: 0.25s;
  }
  .hovercontainer2 .card9.card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url("./imgs/farewell2018.png"); */
    background-size: cover;
    /* background-color: #373f51; */
    background-blend-mode: screen;
    /* transform: skew(10deg) scale(1.2); */
    transition: 0.25s;
  }
  .hovercontainer2 .card10.card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url("./imgs/mirageatnsit.png"); */
    background-size: cover;
    /* background-color: #373f51; */
    background-blend-mode: screen;
    transform: skew(10deg) scale(1.2);
    transition: 0.25s;
  }
  .hovercontainer2 .card11.card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url("./imgs/edwardmaya.png"); */
    background-size: cover;
    /* background-color: #373f51; */
    background-blend-mode: screen;
    /* transform: skew(10deg) scale(1.2); */
    transition: 0.25s;
  }
  
  .hovercontainer2 .card12.card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url("./imgs/edwardmaya.png"); */
    background-size: cover;
    /* background-color: #373f51; */
    background-blend-mode: screen;
    /* transform: skew(10deg) scale(1.2); */
    transition: 0.25s;
  }
  
  .hovercontainer2 .wrapper:hover {
    /* transform: translateX(-1rem) translateY(-1rem) skew(-10deg); */
  }
  
  .hovercontainer2 .wrapper:hover .card {
    box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.1);
  }
  
  .hovercontainer2 .wrapper:hover .card:after {
    background-blend-mode: normal;
  }
  
  .hovercontainer2 .wrapper:hover .card .fal {
    bottom: 4rem;
    background-color:transparent;
  }
  
  .hovercontainer2 .card {
    /* background-color: #fff; */
    /* border-radius: 40px; */
    /* height: 30rem; */
    padding: 2rem;
    position: relative;
    overflow: hidden;
  }
  
  .hovercontainer2 .card:after {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .hovercontainer2 .card .fal {
    position: absolute;
    bottom: -1rem;
    right: 3rem;
    /* border-radius: 100%; */
    padding: 1rem;
    font-size: 1.5rem;
    /* color: #373f51; */
    
    z-index: 1;
    /* transform: skew(10deg) translateY(50%); */
    text-align: center;
    transition: 0.25s;
  }
  
  .card7{
    height: 23rem;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    background-color: #000000;
    /* background-image: linear-gradient(315deg, #00000042 0%, #7f8c8d 74%); */
    background-image: url("./imgs/dylan-hargraves-iDvZGD28b-0-unsplash.jpg");
    background-size:cover;
    background-repeat: no-repeat no-repeat;
    opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.927);
    }
    .card7:hover{
    height: 23rem;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    background-color: black;
    opacity: 1;
    
   
    }
    .card8{
     height: 23rem;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    background-color: #000000;
    /* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
    background-image: url("./imgs/erika-fletcher-5mRn_Bs-RKM-unsplash.jpg");
    background-size:cover;
    background-repeat: no-repeat no-repeat;
  
    opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.927);
    }
    .card8:hover{
    height: 23rem;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    background-color: #000000;
    /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
      background-color: black;
      opacity: 1;
  
    }
    .card9{
      height: 23rem;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    background-color: #000000;
    /* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
    background-image: url("./imgs/kevin-mueller-Sw72_7RSeu0-unsplash.jpg");
    background-size:cover;
    background-repeat: no-repeat no-repeat;
  
    opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.927);
    }
    .card9:hover{
    height: 23rem;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    background-color: #000000;
    /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
      background-color: black;
      opacity: 1;
      
    }
    .card10{
      height: 23rem;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    background-color: #000000;
    /* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
    background-image: url("./imgs/antonio-janeski-Amgv3zz3uoE-unsplash\ \(1\).jpg");
    background-size:cover;
    background-repeat: no-repeat no-repeat;
  
    opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.927);
  
    }
    .card10:hover{
    height: 23rem;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    background-color: #000000;
   
    /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
      background-color: black;
      opacity: 1;
    }
    .card11{
      height: 23rem;
      border-top: 25px solid white;
      border-bottom: 25px solid white;
      border-left: 15px solid white;
      border-right: 15px solid white;
      background-color: #000000;
      background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
      background-image: url("./imgs/rinke-dohmen-n8qC4JYGjjI-unsplash.jpg");
      background-size: cover;
      width: 100%;
      height: 100%;
      opacity: 0.8;
    }
    .card11:hover{
      height: 23rem;
      border-top: 25px solid white;
      border-bottom: 25px solid white;
      border-left: 15px solid white;
      border-right: 15px solid white;
      background-color: black;
      opacity: 1;
    }

    .card12{
      height: 23rem;
      border-top: 25px solid white;
      border-bottom: 25px solid white;
      border-left: 15px solid white;
      border-right: 15px solid white;
      background-color: #000000;
      background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
      background-image: url("./imgs/ethnicDay.jpeg");
      background-size: cover;
      width: 100%;
      height: 100%;
      opacity: 0.8;
    }
    .card12:hover{
      height: 23rem;
      border-top: 25px solid white;
      border-bottom: 25px solid white;
      border-left: 15px solid white;
      border-right: 15px solid white;
      background-color: black;
      opacity: 1;
    }
  
  
  .jnlogo{
    /* background-image: url("/public/style/images/junoon-logo-only.png"); */
    background-size: cover;
    position: absolute;
    width: 10px;
    height: 10px;
  }
  
    
  
  .jnlogo{
    background-image: url("./imgs/junoon-logo-only.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    right: 5px;
    bottom: 40px;
  }
  .headText{
    font-family: 'Staatliches', cursive;
    position: absolute;
    top: 50px;
    left: 50px;
    line-height: 40px;
    color: white;
    font-size: 30px;
    mix-blend-mode: exclusion;
    
background-blend-mode: multiply;
  
  }
  .card:hover .headText{
    color: white;
    mix-blend-mode: exclusion;
    opacity: 1;
    font-size: 39px;
    
  }
  .headUnderline{
    background-color: white;
  width: 10px;
  height: 20px;
  }
  
  .yttitle{
    font-size: 33px;
  }
  
  
  
    }
  

  /*----------- css for hover -----------------------  */
  

  @media only screen and (min-width: 1000px)  {

  .hovercontainer1 {
    display: grid;
grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    padding: 4rem 4rem;
    
  }
  
  .hovercontainer1 .wrapper {
    
    transition: 0.25s;
  }
  
.card1:hover {
  opacity: 0.3;
}
.card2:hover{
  opacity: 0.3;
}
.card3:hover{
  opacity: 0.3;
}
.card4:hover{
  opacity: 0.3;
}
.card5:hover{
  opacity: 0.3;
}
.card6:hover{
  opacity: 0.3;
}
.card7:hover{
  opacity: 0.3;
}
.card8:hover{
  opacity: 0.3;
}
.card9:hover{
  opacity: 0.3;
}
.card10:hover{
  opacity: 0.3;
}
.card11:hover{
  opacity: 0.3;
}
.card12:hover{
  opacity: 0.3;
}
  .hovercontainer1 .wrapper:before {
    content: '';
    left: 0;
    top: 0;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    /* border-radius: 40px; */
    opacity: 0;
    border: 2px solid #ece9e6;
    position: absolute;
    z-index: -1;
    transition: 0.5s 0.05s;
  }
  
  .hovercontainer1 .wrapper:hover:before {
    opacity: 1;
    /* transform: translateY(1.5rem) translateX(1.5rem); */
  }
  
  .hovercontainer1 .card1.card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    /* color: ; */
    /* background-blend-mode: screen; */
  
    /* transform: skew(10deg) scale(1.2); */
    transition: 0.25s;
  }

  .hovercontainer1 .card2.card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
 
    background-size: cover;
    /* background-color: #373f51; */
    background-blend-mode: screen;
    /* transform: skew(10deg) scale(1.2); */
    transition: 0.25s;
  }

  .hovercontainer1 .card3.card:after {
    content: '';
    height: 150%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-size: cover;
    /* background-color: #373f51; */
    background-blend-mode: screen;
    /* transform: skew(10deg) scale(1.2); */
    transition: 0.25s;
  }
  
  .hovercontainer1 .card4.card:after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
   
    background-size: cover;
    /* background-color: #373f51; */
    background-blend-mode: screen;
    /* transform: skew(10deg) scale(1.2); */
    transition: 0.25s;
  }
  
  .hovercontainer1 .card5.card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-size: cover;
    /* background-color: #373f51; */
    background-blend-mode: screen;
    /* transform: skew(10deg) scale(1.2); */
    transition: 0.25s;
  }
  .hovercontainer1 .card6.card:after {
    content: '';
    height: 91%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-size: cover;
    /* background-color: #373f51; */
    background-blend-mode: screen;
    transform: skew(10deg) scale(1.2);
    transition: 0.25s;
  }

  

  .hovercontainer1 .wrapper:hover .card {
    box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.1);
  }
  

  .hovercontainer1 .wrapper:hover .card .fal {
    bottom: 4rem;
    background-color: transparent;
    
  }
  
  .hovercontainer1 .card {
    padding: 2rem;
    position: relative;
    overflow: hidden;
  }
  
  .hovercontainer1 .card:after {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .hovercontainer1 .card .fal {
    position: absolute;
    bottom: -1rem;
    right: 3rem;

    padding: 1rem;
    color: #000000;
    /* font-size: 1.5rem; */

    z-index: 1;
    /* transform: skew(10deg) translateY(50%); */
    text-align: center;
    transition: 0.25s;
  }

.card1{
height: 23rem;
border-top: 25px solid white;
border-bottom: 25px solid white;
border-left: 15px solid white;
border-right: 15px solid white;
background-color: #000000;
background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
background-image: url("./imgs/gidon-wessner-SZtLK_W7vKo-unsplash.jpg");
background-size: cover;
width: 100%;
height: 100%;
opacity: 0.8;
}

.card1:hover{
height: 23rem;
border-top: 25px solid white;
border-bottom: 25px solid white;
border-left: 15px solid white;
border-right: 15px solid white;
background-color: black;
opacity: 1;

/* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
}
.card2{
 height: 23rem;
border-top: 25px solid white;
border-bottom: 25px solid white;
border-left: 15px solid white;
border-right: 15px solid white;
background-color: #000000;
/* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
background-image: url("./imgs/jimmy-chang-eXg_ah-ebc4-unsplash.jpg");
background-size: cover;
width: 100%;
height: 100%;
opacity: 0.8;
}
.card2:hover{
height: 23rem;
border-top: 25px solid white;
border-bottom: 25px solid white;
border-left: 15px solid white;
border-right: 15px solid white;
/* background-color: #000000;
 */
   background-color: black;
/* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
opacity: 1;
}
.card3{
  height: 23rem;
border-top: 25px solid white;
border-bottom: 25px solid white;
border-left: 15px solid white;
border-right: 15px solid white;
background-color: #000000;
/* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
background-image: url("./imgs/magdalena-smolnicka-aSo4L-FRahI-unsplash.jpg");
background-size: cover;
/* width: 100%;
height: 100%; */
opacity: 0.8;
}
.card3:hover{
height: 23rem;
border-top: 25px solid white;
border-bottom: 25px solid white;
border-left: 15px solid white;
border-right: 15px solid white;
/* background-color: #000000;
 */
   background-color: black;
/* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
opacity: 1;
}
.card4{
  height: 23rem;
border-top: 25px solid white;
border-bottom: 25px solid white;
border-left: 15px solid white;
border-right: 15px solid white;
background-color: #000000;
/* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
background-image: url("./imgs/patrick-donnelly-FArmYuwp_tM-unsplash.jpg");
background-size: cover;
width: 100%;
height: 100%;
opacity: 0.8;
}
.card4:hover{
height: 23rem;
border-top: 25px solid white;
border-bottom: 25px solid white;
border-left: 15px solid white;
border-right: 15px solid white;
/* background-color: #000000;
 */
   background-color: black;
/* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
opacity: 1;
}
.card5{
  height: 23rem;
border-top: 25px solid white;
border-bottom: 25px solid white;
border-left: 15px solid white;
border-right: 15px solid white;
background-color: #000000;
/* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
background-image: url("./imgs/tyler-raye-J9NaXTGzBrs-unsplash.jpg");
background-size: cover;
width: 100%;
height: 100%;
opacity: 0.8;
}
.card5:hover{
height: 23rem;
border-top: 25px solid white;
border-bottom: 25px solid white;
border-left: 15px solid white;
border-right: 15px solid white;
/* background-color: #000000;
 */
   background-color: black;
/* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
opacity: 1;
}
.card6{
  height: 23rem;
border-top: 25px solid white;
border-bottom: 25px solid white;
border-left: 15px solid white;
border-right: 15px solid white;
background-color: #000000;
/* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
background-image: url("./imgs/michael-henry-5OyGRn_r9Y4-unsplash.jpg");
background-size: cover;
/* width: 100%;
height: 100%; */
opacity: 0.8;
}
.card6:hover{
height: 23rem;
border-top: 25px solid white;
border-bottom: 25px solid white;
border-left: 15px solid white;
border-right: 15px solid white;
/* background-color: #000000;
 */
   background-color: black;
/* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
opacity: 1;

}


/* ------------------------- */

.hovercontainer2 {
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  padding: 4rem 4rem;
  
}

.hovercontainer2 .wrapper {
  
  transition: 0.25s;
}

.hovercontainer2 .wrapper:before {
  content: '';
  left: 0;
  top: 0;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  /* border-radius: 40px; */
  opacity: 0;
  border: 2px solid #ece9e6;
  position: absolute;
  z-index: -1;
  transition: 0.5s 0.05s;
}

.hovercontainer2 .wrapper:hover:before {
  opacity: 1;
  /* transform: translateY(1.5rem) translateX(1.5rem); */
}


.hovercontainer2 .card7.card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-image: url("./imgs/collegehotonsitho.png"); */
  background-size: cover;
  /* background-color: #373f51; */
  background-blend-mode: screen;
  /* transform: skew(10deg) scale(1.2); */
  transition: 0.25s;
}
.hovercontainer2 .card8.card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-image: url("./imgs/capellaperf.png"); */
  background-size: cover;
  /* background-color: #373f51; */
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.hovercontainer2 .card9.card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-image: url("./imgs/farewell2018.png"); */
  background-size: cover;
  /* background-color: #373f51; */
  background-blend-mode: screen;
  /* transform: skew(10deg) scale(1.2); */
  transition: 0.25s;
}
.hovercontainer2 .card10.card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-image: url("./imgs/mirageatnsit.png"); */
  background-size: cover;
  /* background-color: #373f51; */
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.hovercontainer2 .card11.card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-image: url("./imgs/edwardmaya.png"); */
  background-size: cover;
  /* background-color: #373f51; */
  background-blend-mode: screen;
  /* transform: skew(10deg) scale(1.2); */
  transition: 0.25s;
}

.hovercontainer2 .card12.card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-image: url("./imgs/edwardmaya.png"); */
  background-size: cover;
  /* background-color: #373f51; */
  background-blend-mode: screen;
  /* transform: skew(10deg) scale(1.2); */
  transition: 0.25s;
}

.hovercontainer2 .wrapper:hover {
  /* transform: translateX(-1rem) translateY(-1rem) skew(-10deg); */
}

.hovercontainer2 .wrapper:hover .card {
  box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.1);
}

.hovercontainer2 .wrapper:hover .card:after {
  background-blend-mode: normal;
}

.hovercontainer2 .wrapper:hover .card .fal {
  bottom: 4rem;
  background-color:transparent;
}

.hovercontainer2 .card {
  /* background-color: #fff; */
  /* border-radius: 40px; */
  /* height: 30rem; */
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.hovercontainer2 .card:after {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hovercontainer2 .card .fal {
  position: absolute;
  bottom: -1rem;
  right: 3rem;
  /* border-radius: 100%; */
  padding: 1rem;
  font-size: 1.5rem;
  /* color: #373f51; */
  
  z-index: 1;
  /* transform: skew(10deg) translateY(50%); */
  text-align: center;
  transition: 0.25s;
}

.card7{
  height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #000000;
  /* background-image: linear-gradient(315deg, #00000042 0%, #7f8c8d 74%); */
  background-image: url("./imgs/dylan-hargraves-iDvZGD28b-0-unsplash.jpg");
  background-size:cover;
  background-repeat: no-repeat no-repeat;
  opacity: 0.8;
background-color: rgba(0, 0, 0, 0.927);
  }
  .card7:hover{
  height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: black;
  opacity: 1;
  
 
  }
  .card8{
   height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #000000;
  /* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
  background-image: url("./imgs/erika-fletcher-5mRn_Bs-RKM-unsplash.jpg");
  background-size:cover;
  background-repeat: no-repeat no-repeat;

  opacity: 0.8;
background-color: rgba(0, 0, 0, 0.927);
  }
  .card8:hover{
  height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #000000;
  /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
    background-color: black;
    opacity: 1;

  }
  .card9{
    height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #000000;
  /* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
  background-image: url("./imgs/kevin-mueller-Sw72_7RSeu0-unsplash.jpg");
  background-size:cover;
  background-repeat: no-repeat no-repeat;

  opacity: 0.8;
background-color: rgba(0, 0, 0, 0.927);
  }
  .card9:hover{
  height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #000000;
  /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
    background-color: black;
    opacity: 1;
    
  }
  .card10{
    height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #000000;
  /* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
  background-image: url("./imgs/antonio-janeski-Amgv3zz3uoE-unsplash\ \(1\).jpg");
  background-size:cover;
  background-repeat: no-repeat no-repeat;

  opacity: 0.8;
background-color: rgba(0, 0, 0, 0.927);
  }
  .card10:hover{
  height: 23rem;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #000000;
 
  /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
    background-color: black;
    opacity: 1;
  }
  .card11{
    height: 23rem;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
    background-image: url("./imgs/rinke-dohmen-n8qC4JYGjjI-unsplash.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }

  .card12{
    height: 23rem;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
    background-image: url("./imgs/ethnicDay.jpeg");    
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }
  .card11:hover{
    height: 23rem;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    background-color: black;
    opacity: 1;
  }

  .card12:hover{
    height: 23rem;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    background-color: black;
    opacity: 1;
  }

.jnlogo{
  /* background-image: url("/public/style/images/junoon-logo-only.png"); */
  background-size: cover;
  position: absolute;
  width: 10px;
  height: 10px;
}

  

.jnlogo{
  background-image: url("./imgs/junoon-logo-only.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  right: 5px;
  bottom: 40px;
}
.headText{
  font-family: 'Staatliches', cursive;
  position: absolute;
  top: 50px;
  left: 50px;
  line-height: 40px;
  color: white;
  font-size: 30px;
  mix-blend-mode:exclusion;
background-blend-mode: multiply;

}
.card:hover .headText{
  color: white;
  mix-blend-mode:exclusion;
  opacity: 1;
  font-size: 39px;
  /* text-shadow: 12px 12px #ff0000; */
}
.headUnderline{
  background-color: white;
width: 10px;
height: 20px;
}

.yttitle{
  font-size: 33px;
 
}



  }

  .noBlend .headText
{
  mix-blend-mode: normal;
}
