/* Google Fonts - Poppins */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.dev-body {
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: transparent; */
    margin: 0rem 3rem;

}

.dev-slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.dev-slide-content {
    margin: 0 40px;
    /* overflow: hidden; */
    border-radius: 25px;
}

.dev-card {
    border-radius: 25px;
    background-color: #FFF;
    box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.2);
    margin: 40px 0px;
}

/* .dev-card:hover {

} */

.dev-image-content,
.dev-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.dev-image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.dev-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #1b1b1b;
    border-radius: 25px 25px 0 25px;
}

.dev-overlay::before,
.dev-overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #1b1b1b;
}

.dev-overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}

.dev-card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}

.dev-card-image .dev-card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #1b1b1b;
}

.dev-name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.dev-description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.dev-button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #000000;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dev-button:hover {
    background: #000000;
}

.swiper-navBtn {
    color: #000000;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #000000;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}

.swiper-button-next {
    /* z-index: 2; */
    right: 0px;
    cursor: pointer;
    color: rgb(26, 26, 26) !important;
    /* margin-left  : 20px; */
}

.swiper-button-prev {
    color: rgb(26, 26, 26) !important;
    cursor: pointer;
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #000000;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #bd0000;
}

.swiper {
    padding: 0px 2rem;
}

@media screen and (max-width: 768px) {
    .dev-slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }
}

@media screen and (max-width: 452px) {
    .swiper {
        padding: 0 1.5rem !important;
    }
}

@media screen and (max-width: 771px) {
    .dev-card-image {
        height: 130px !important;
        width: 130px !important;
    }
}

@media screen and (max-width: 400px) {
    .swiper-button-prev {
        color: white !important;
    }

    .swiper-button-next {
        color: white !important;
    }

    .swiper {
        padding: 0 0rem !important;
    }
}


/* .swiper-slide-active:hover {
    box-shadow: "0 16px 70px -12.125px rgba(0,0,0,0.3)"

} */