@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');
.drive_links{
	margin-top: 100px;
}
.drive_links_e{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.img_d{
	height: 350px;
	width: 350px;
}
.card{
	border: 30px solid white;
	overflow: hidden;
}
.card_overlay{
	margin-top: -140px;
}
.title{
	color: white;
	font-size: 20px;
	height: 30px;
}

 .btn{
	 width: 140px;
	 background-color: transparent;
	 border: 1px solid white;
 }

 .dl_txt{
	 font-size: 30px;
	 margin: 30px;
 }
 .logo_junoon{
	 width: 50px;
	 margin-top: -380px;
	 margin-left: -280px;
 }

 @media screen and (max-width: 450px) {
  .img_d{
    height: auto;
    width: 300px;
  }
  .title{
	height: 50px;
  }
  .logo_junoon{
    display: none;
    width: 50px;
    margin-top: -290px;
    margin-left: -240px;
  }
 }