/* .user {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #b3e3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
    margin: 20px;
} */

.paginationBttns {
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 7px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

@media (max-width: 720px) {
    .paginationBttns a {
        padding: 9px;
        margin: 7px;
    }
}

@media (max-width: 555px) {
    .paginationBttns a {
        padding: 6px;
        margin: 6px;
    }
}

@media (max-width: 385px) {
    .paginationBttns a {
        padding: 6px;
        margin: 4px;
    }
}

@media (max-width: 320px) {
    .paginationBttns a {
        padding: 4px;
        margin: 4px;
    }
}

*/ .paginationBttns a:hover {
    color: black;
    background-color: white;
}

.paginationActive a {
    color: black;
    background-color: white;
}

.paginationDisabled a {
    color: black;
    background-color: white;
}

/* .sg-outer {}
 */
.btn-trans:hover {
    color: white !important;
    background-color: transparent !important;
}

@media (min-width : 1250px) {
    .pg-padding {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}