@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	box-sizing: border-box;
}
body {
	font-family: "poppins";
	margin: 0;
	padding: 0;
}

.AppContainer {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: center;
	position: relative;
	/*background-image: url("https://wallpaperaccess.com/full/2833289.jpg");*/
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	background-color: #fff;
}

.BoxContainer {
	width: 350px;
	min-height: 550px;
	display: flex;
	flex-direction: column;
	border: none;
	border-radius: 19px;
	background-color: rgb(255, 255, 255);
	box-shadow: 10px 10px 60px -7px rgba(0, 0, 0, 0.5);
	position: relative;
	overflow: hidden;
}

.BackDrop {
	position: absolute;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	border-radius: 50%;
	height: 550px;
	width: 160%;
	top: -310px;
	left: -130px;
	transform: rotate(30deg);
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 1) 35%,
		rgb(58, 58, 58) 100%
	);
	z-index: 1;
}

.TopContainer {
	width: 100%;
	height: 270px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	padding: 0 1.8em;
	padding-bottom: 5em;
}

.HeaderContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	z-index: 2;
}

.HeaderText {
	font-size: 30px;
	font-family: "poppins";
	font-weight: 600;
	line-height: 1.24;
	color: #fff;
	margin: 0;
}

.SmallText {
	color: #fff;
	font-weight: 500;
	font-family: "poppins";
	font-size: 11px;
	z-index: 2;
	margin: 0;
	margin-top: 7px;
}

.blobs {
	position: absolute;
	z-index: -1;
	width: 15%;
	top: -10px;
	left: -20px;
}

.InnerContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 1.8em;
}

.Marginer-top {
	margin-top: 1em;
}

/*div*/

.commonBox {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}

/*Form*/
.FormContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 2.5px rgba(15, 15, 15, 0.19);
}

/*anchor*/

.MutedLink {
	font-size: 12px;
	color: rgba(102, 101, 101, 0.8);
	font-weight: 500;
	text-decoration: none;
}
/*anchor*/

.BoldLink {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.8);
	font-weight: 500;
	text-decoration: none;
}

/*input*/
.Input {
	outline: none;
	width: 100%;
	height: 42px;
	border: 1px solid rgba(200, 200, 200, 0.3);
	padding: 0px 10px;
	border-bottom: 1.4px solid transparent;
	transition: all 200ms ease-in-out;
	font-size: 12px;
}

.Input::placeholder {
	color: rgb(41, 41, 41);
}

.Input:not(:last-of-type) {
	border-bottom: 1.5px solid rgba(200, 200, 200, 0.4);
}

.Input:focus {
	outline: none;
	border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.SubmitButton {
	width: 100%;
	padding: 11px;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	border: none;
	border-radius: 100px 100px 100px 100px;
	cursor: pointer;
	transition: all 240ms ease-in-out;
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 1) 35%,
		rgb(58, 58, 58) 100%
	);
}

.SubmitButton:hover {
	filter: brightness(1.03);
}
.SubmitButtonG {
	width: 100%;
	padding: 11px;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	border: none;
	border-radius: 100px 100px 100px 100px;
	cursor: pointer;
	transition: all 240ms ease-in-out;
	background: linear-gradient(
		90deg,
		rgb(44, 66, 189) 35%,
		rgb(49, 90, 202) 100%
	);
}

.SubmitButtonG:hover {
	filter: brightness(1.03);
}

.navbar-container {
	position: fixed;
	width: 100%;
	z-index: 3;
	top: 0;
	left: 0;
	background: transparent;
}
